body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    
}
span{
    color: red;
}
h1{
    color: rgb(22, 70, 70);
    font-size: 30px;
    
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 15%;
    
}
.half-width img{
    width: 80%;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(to right,tomato,red);
    padding: 15px;
    border-radius: 30px;
    position: relative;
    top: 20px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(to right,tomato,red);
    padding: 15px;
    border-radius: 30px;
    position: relative;
    top: 20px;
    
}
.background{
    background-image: url(image/3.png);
    background-repeat: no-repeat;
}

.text{
    text-align: center;
}

.card{
    width: 350px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 1px 2px 20px cyan;
    
}
.image-style{
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    border-radius: 30px;
}
    
.card-body{
    padding: 15px;
}
.title{
    text-align: center;
}
.description{
    text-align: justify;
}
.another{
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.last{
    width: 60%;
    background-color: rgb(238, 238, 230);
    color: black;
    margin: auto;
    display: inline block;
    display: flex;
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: 1px 2px 15px rgb(221, 208, 208);
    
}

.f-padding{
    padding: 50px 80px;
    
}
.footer-style{
    width: 100%;
    height: 200px;
    background-color: black;
    color: rgb(218, 194, 194);
}
footer h2 span{
    color: red;
}
footer h2,h4{
    text-align: center;
}
footer h2{
    padding-top: 20px;
}

ul{
    list-style: none;
    padding: 0;
    text-align: right;
    margin-bottom: 100px;
    
}
li{
    display: inline-block;
    margin-right: 5px;
    position: relative;
}
a{
    background-color: black;
    color: white;
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}
a:hover{
    background-color: orange;
}
ul ul{
    position: absolute;
    left: 0;
    top: 39;
    
}
ul ul{
    left: -99999px;
}
ul li:hover ul{
    left: 0;
}






